<%-include("partials/header")%>
    <div class="container-fluid padding">
        <h1>Register</h1>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <form action="/register" method="post">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              name="username"
              placeholder="Type a email example"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Password</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleFormControlInput1"
              name="password"
              placeholder="Type a password example"
            />
          </div>
          <button class="btn btn-dark" type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>

  <a class="btn btn-dark google" href="/auth/google" role="button">
    <i class="fa-brands fa-google"></i> Sign Up with Google</a
  >
</div>

<%-include("partials/footer")%>