<%-include("partials/header")%>
    <div class="p-5 bg-light rounded-3">
        <div class="container-fluid py-5 centered">
            <i class="fa-solid fa-key"></i>
            <h1 class="display-5 fw-bold">You've Discovered My Secret!</h1>
            <%usersWithSecrets.forEach(function(user){%>
                <p class="secret">
                    <%=user.secret%>
                </p>
                <hr />
                <%})%>

                    <a class="btn btn-outline-dark btn-lg" href="/logout" role="button">Log Out</a
    >
    <a class="btn btn-dark btn-lg" href="/submit" role="button"
      >Submit a Secret</a
    >
  </div>
</div>
<%-include("partials/footer")%>